<div class="gi-canvas-container">
  <div>
    {{ canvas.state.location.x }} x {{ canvas.state.location.y }}
  </div>
  <div id="gi-canvas-container">
    <canvas class="gi-canvas"
            id="gi-primary-canvas"
            width="640"
            height="480"
            />

    <canvas class="gi-canvas"
            id="gi-draw-canvas"
            width="640"
            height="480"
            gi-touchmove="canvas.onTouchmove($event)"
            gi-touchend="canvas.onTouchend($event)"
            ng-mousemove="canvas.onMousemove($event)"
            ng-mousedown="canvas.onMousedown($event)"
            ng-mouseup="canvas.onMouseup($event)"
            />
  </div>
</div>
